# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =[1980, 1981, 1982, 1983, 1984, 1985].

In [12]:
birth_of_year =int(input("enter the your year of birth:"))
# until 5th birth day
n =5
years_list =[]
year =birth_of_year
print("Displaying  First five years of birth:")
for i in range(n+1):
    
    years_list.append(birth_of_year + i)
print(years_list)

enter the your year of birth:1998
Displaying  First five years of birth:
[1998, 1999, 2000, 2001, 2002, 2003]

# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [11]:
birth_of_year =int(input("enter the your year of birth:"))
# until 5th birth day
n =5
years_list =[]
year =birth_of_year
print("Displaying  First five years of birth:")
for i in range(n+1):
    
    years_list.append(birth_of_year + i)
print(years_list)    
    
print(f"your third birthday is {years_list[3]} ")

enter the your year of birth:1998
Displaying  First five years of birth:
[1998, 1999, 2000, 2001, 2002, 2003]
your third birthday is 2001

# 3.In the years list, which year were you the oldest?

In [13]:
birth_of_year =int(input("enter the your year of birth:"))
# until 5th birth day
n =5
years_list =[]
year =birth_of_year
print("Displaying  First five years of birth:")
for i in range(n+1):
    
    years_list.append(birth_of_year + i)
print(years_list)    
    
print(f"your oldest year of birth in list is {years_list[-1]} ")

enter the your year of birth:1998
Displaying  First five years of birth:
[1998, 1999, 2000, 2001, 2002, 2003]
your oldest year of birth in list is 2003

# 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella","salmonella"

In [14]:
things =["mozzarella", "cinderella","salmonella"]

In [15]:
print(things)

['mozzarella', 'cinderella', 'salmonella']

# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

##  yes it change the element in the list when Capitalize the element in things that refers to a person and then print the list  as below .

In [26]:
things =["mozzarella", "cinderella","salmonella"]
print("before Capitalize elements in List are",things)
for i in range(len(things)):
    things[i] = things[i].capitalize() 
print("After Capitalize elements in List are ",things)

before Capitalize elements in List are ['mozzarella', 'cinderella', 'salmonella']
After Capitalize elements in List are  ['Mozzarella', 'Cinderella', 'Salmonella']

# 6. Make a surprise list with the elements "Groucho" ,"Chico" and "Harpo"

In [28]:
surprise_list =["Groucho", "Chico","Harpo"]

In [29]:
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [56]:
surprise_list =["Groucho", "Chico","Harpo"]
surprise_list[-1].lower()

'harpo'

In [57]:
surprise_list[-1][::-1]

'opraH'

In [58]:
surprise_list[-1][::-1].capitalize()

'Oprah'

# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [41]:
e2f ={"dog":"chien","cat":"chat","walrus":"morse"}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# 9. Write the French word for walrus in your three-word dictionary e2f.

In [43]:
e2f ={"dog":"chien","cat":"chat","walrus":"morse"}
e2f["walrus"] = "huge"
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'huge'}

# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [45]:
e2f ={"dog":"chien","cat":"chat","walrus":"morse"}
f2e =dict()
for english, french in e2f.items():
    f2e[french] = english
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# 11. Print the English version of the French word chien using f2e.

In [52]:
f2e ={'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}
print("English version of the French word chien is: ",f2e.get('chien'))

English version of the French word chien is:  dog

# 12. Make and print a set of English words from the keys in e2f.

In [53]:
e2f ={"dog":"chien","cat":"chat","walrus":"morse"}
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;. Make all the other keys refer to empty dictionaries.

In [54]:
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
print(life)

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''}, 'plants': '', 'other': ''}

# 14. Print the top-level keys of life.

In [59]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

# 15. Print the keys for life[&#39;animals&#39;].

In [61]:
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

# 16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [62]:
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']