# 1.Create a function that takes a number as an argument and returns True or False dependingon whether the number is symmetrical or not. A number is symmetrical when it is the same as reverse.
## Examples
## is_symmetrical(7227) ➞ True
## is_symmetrical(12567) ➞ False
## is_symmetrical(44444444) ➞ True
## is_symmetrical(9939) ➞ False
## is_symmetrical(1112111) ➞ True

In [53]:
def is_symmetrical(s1):
    s=str(s1)
    n=len(s)//2
    #print(s[:n])
    #print(s[:-n-1:-1])
    if(s[:n] ==s[:-n-1:-1]):
        print("True")
    else:
        print("False")   
s=int(input("Enter the number whether the number is symmetrical or not:"))
is_symmetrical(s)

Enter the number whether the number is symmetrical or not:1222221
True

In [54]:
is_symmetrical(12567)

False

In [55]:
is_symmetrical(11111)

True

In [56]:
is_symmetrical(1112111)

True

# 2. Given a string of numbers separated by a comma and space, return the product of the numbers.
## Examples
## multiply_nums('2, 3') ➞ 6
## multiply_nums('1, 2, 3, 4') ➞ 24
## multiply_nums('54, 75, 453, 0') ➞ 0
## multiply_nums('10, -2') ➞ -20

In [66]:
def multiply_nums(s):
    s1 = s.split(',')
    sum = 1
    for i in s1:
        sum = sum * int(i)
    return sum

In [67]:
multiply_nums('10, -2')

-20

In [68]:
multiply_nums('2, 3')

6

# 3.Create a function that squares every digit of a number.
## Examples
## square_digits(9119) ➞ 811181
## square_digits(2483) ➞ 416649
## square_digits(3212) ➞ 9414
## Notes
## The function receives an integer and must return an integer.

In [72]:
def square_digits(n):
    s=str(n)
    s1=''
    for i in s:
        s1=s1 + str(int(i)**2)
    return int(s1)

In [73]:
square_digits(9119)

811181

In [75]:
square_digits(2483)

416649

# 4. Create a function that sorts a list and removes all duplicate items from it.
## Examples
## setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
## setify([4, 4, 4, 4]) ➞ [4]
## setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
## setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [76]:
def setify(l):
    return list(set(l))

In [77]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [78]:
setify([4, 4, 4, 4])

[4]

In [79]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

# 5.Create a function that returns the mean of all digits.
## Examples
## mean(42) ➞ 3
## mean(12345) ➞ 3
## mean(666) ➞ 6
## Notes
## 1.The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
## 2.The mean will always be an integer.

In [98]:
def mean(n):
    s=str(n)
    sum=0
    l=len(s)
    for i in s:
        sum=sum +int(i) 
    return sum//l

In [99]:
mean(42)

3

In [100]:
mean(12345)

3

In [101]:
mean(666)

6