# 1.Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

## some of  types of error we get coding  in are 

### 1.TypeError: sum_of_values() takes 2 positional arguments but 3 were given. 
 we get this error because we pass two passing  parameters but  we took  three positional arguments .we can correct by takes two positional arguments

In [5]:
# error code
def sum_of_values(x, y):
    print(x+y)
sum_of_values(22.2, 33, 444)

TypeError: sum_of_values() takes 2 positional arguments but 3 were given

In [6]:
def sum_of_values(x, y):
    print(x+y)

sum_of_values(22.2,33)

55.2

### 2.invalid literal for int() with base 10: '50.22'
 we get this error because string which taken  in float format we cannot directly  convert into int before that we have to convert into float after we can convert into int

In [20]:
# error code
""" String to integer
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")
 
"""

' String to integer\nA = "50.22" # entering float\nprint(f"data type before: {type(A)}, value of A: {A}")\nA = int(A) # trying to convert into integer\nprint(f"data type after: {type(A)}, value of A: {A}")\n \n'

In [8]:
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A) # trying to convert into float
print(f"data type after: {type(A)}, value of A: {A}")
A =int(A)# trying to convert into float
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22
data type after: <class 'float'>, value of A: 50.22
data type after: <class 'int'>, value of A: 50

### 3.ValueError: invalid literal for int() with base 10: '10.2

this error we get because we trying to add integer and floating values but we took  float values in place of int value. we can correct it by taking only integer type values in int type variable .

In [21]:
"""A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) # 10.2 is float but converting to int

print(f"Sum of A and B is: {A+B}")
"""

'A = float(input("Enter value of A: "))\nB = int(input("Enter value of B: ")) # 10.2 is float but converting to int\n\nprint(f"Sum of A and B is: {A+B}")\n'

In [12]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) # 10.2 is float but converting to int

print(f"Sum of A and B is: {A+B}")

Enter value of A: 1
Enter value of B: 1
Sum of A and B is: 2.0

### 4.'int' object is not callable

we get this because  error occurs when you declare a variable and name it with a built-in function and we can  correct it by not using reversed keyword or built in functions as Variable names.

In [18]:
# error code
"""print =12
print(print)"""

'print =12\nprint(print)'

In [24]:
del print # we need delete variable because we used print reversed keyword as variable name

In [25]:
a =12
print(a)

12

### 5.NameError: name 'Ten' is not defined

we get this error because when we try to access a variable or function that is not defined or before it is defined. and we can correct by taking only with creating variable or function name

In [1]:
#error code
a=10
print(aa)

NameError: name 'aa' is not defined

In [29]:
a=10 
print(a)

10

### 6.TypeError: cannot unpack non-iterable int object

In [ ]:
 occurs when we try to unpack an integer value. To solve the error, track down where the variable got assigned an integer and correct the assignment to an iterable

In [30]:
a,b,c=10

TypeError: cannot unpack non-iterable int object

In [33]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

###  7. SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Good Evening")?

In [ ]:
This error we get because missing parenthesis in call to print .we can correct by open and closed parenthesis to print statement

In [2]:
print "Hello"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello")? (3583445538.py, line 1)

In [3]:
print("Hello")

Hello

### 8.SyntaxError: EOL while scanning string literal

.An EOL ( End of Line ) error indicates that the Python interpreter expected a particular character or set of characters to have occurred in a specific line of code, but that those characters were not found before the end of the line . This results in Python stopping the program execution and throwing a syntax error .

In [6]:
#error code
print("Good 
Evening")

SyntaxError: EOL while scanning string literal (2830358741.py, line 2)

In [7]:
print("Good Morning")

Good Morning

### 9.SyntaxError: can't assign to operator

cannot assign to operator error is raised when you try to evaluate a mathematical statement before an assignment operator. To fix this error, make sure all your variable names appear on the left hand side of an assignment operator and all your mathematical statements appear on the right.

In [8]:
Varia%ble =10

SyntaxError: cannot assign to operator (3233676554.py, line 1)

In [11]:
variable =10
print(variable)

10

# 2.Take input A and B and print their sum, mul, div, square of the nos.

In [39]:
a = int(input("Enter first Number : " ))
b = int(input("Enter Second Number: "))

sum = a + b
mul = a * b
div = a / b
squareOfA = a**2
squareOfB = b**2


print(f'The sum of  of {a} and {b} is ',a+b)
print(f'The muitpliy of  of {a} and {b} is ',a*b)
print(f'The division of number of {a} and {b} is ',a/b)
print(f'The square of {a}  is',a**2)
print(f'The square of {b}  is',b**2)

Enter first Number : 10
Enter Second Number: 5
The sum of  of 10 and 5 is  15
The muitpliy of  of 10 and 5 is  50
The division of number of 10 and 5 is  2.0
The square of 10  is 100
The square of 5  is 25

# 3.How many reserve keywords are there in python and why we should not use them as a variable name.

In python we have 33 reserved keywords such as None,del,import,return,True ,elif,in,try,and,else,is,while,as,except,lambda,with
assert,finally,nonlocal,yield,break,for,not,class,form,or,continue,global,pass.

# 4.Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [3]:
first_name = (input("Enter first Name : " ))
last_name  = (input("Enter Last Name : " ))

print(f""" 
email:{last_name}.{first_name}@gmail.com """)

Enter first Name : Sanath Kumar
Enter Last Name : Yadavilli

email:Yadavilli.Sanath Kumar@gmail.com

# 5.Try to print the following lines - 
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.

In [33]:
print("Hi I'm Sunny")

Hi I'm Sunny

In [34]:
print("My address is 22\\3 ")

My address is 22\3

In [35]:
print("I earn 20$ daily")

I earn 20$ daily

# 6.Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [2]:
first_name = (input("Enter First Name : " ))
last_name  = (input("Enter Last Name : " ))
address_name = (input("Enter addres: "))
DateOfBirth=(input("Enter dd/mm/yyyy:"))

print(f"""

first_name:{first_name}

last_name:{last_name}

address_name:{address_name}

Date Of Birth:{DateOfBirth} 

email:{first_name}.{last_name}@gmail.com """)

Enter First Name : Sanath Kumar
Enter Last Name : Yadavilli
Enter addres: Kakinada
Enter dd/mm/yyyy:01/08/1998


first_name:Sanath Kumar

last_name:Yadavilli

address_name:Kakinada

Date Of Birth:01/08/1998

email:Sanath Kumar.Yadavilli@gmail.com

# 7. Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

In [37]:
#"22.4" into integer
string = "22.4"
print(string)
print(type(string))
Float = float(string)
print(Float)
print(type(Float))
Int = int(Float)
print(Int)
print(type(Int))

22.4
<class 'str'>
22.4
<class 'float'>
22
<class 'int'>

In [38]:
#"22" into complex no.
StringValue ="22"
print(StringValue)
print((type(StringValue)))
complexValue =complex(StringValue)
print(complexValue)
print(type(complexValue))

22
<class 'str'>
(22+0j)
<class 'complex'>